body {
            font-family: georgia, serif;
            background-color: #888888;
        }

        h1 {
            font-family: georgia, serif;
        }
        li {
            padding: 0px 200px;
        }
        .header {
      position: sticky;
      top: 0;
      padding: 10px 16px;
      background: #777777;
      color: #e1e1e1;
        }
