body {
            font-family: georgia, serif;
            background-color: #888888;
        }

        h1 {
            font-family: georgia, serif;
        }
        li {
            padding: 0px 300px;
        }
        p {
            padding: 0px 200px;
        }
        .header {
      position: sticky;
      top: 0;
      padding: 10px 16px;
      height: 100px;
      background: #777777;
      color: #e1e1e1;
        }
        container {
        }    
       .float-container {}
.float-child {
    float: left;
    padding: 0px 20px;
}  
