body {
            font-family: georgia, serif;
            background-color: #888888;
        }

        h1 {
            font-family: georgia, serif;
        }
        li {
            padding: 0px 300px;
        }
        p {
            padding: 0px 200px;
        }
        .header {
      position: sticky;
      top: 0;
      padding: 10px 16px;
      background: #777777;
      color: #e1e1e1;
        }
        container {
                    padding: 0px 200px;
                    background: linear-gradient(to bottom, #55aa55, #5555aa);
        }    
       .float-container {
    border: 3px solid #fff;
    padding: 20px;
}
.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  
